/*Abarquez and Jardio Prelim Exam*/

/* ==========================================
   1. RESET & BASE STYLES
   ========================================== */

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
