/*Abarquez and Jardio Prelim Exam*/

/* ==========================================
   1. RESET & BASE STYLES
   ========================================== */

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
